@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&family=Montserrat:wght@500;700&family=Outfit:wght@400;700&display=swap');

.bloc1{
    background-image: linear-gradient(to bottom,hsl(252, 100%, 67%),hsl(241, 81%, 54%)) ;
    background-repeat: no-repeat;
    width: 300px;
    border-radius: 17px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.bloc2{
    background-color: white;
    width: 290px;
    padding-left: 20px;
    border-radius: 17px;
}

main{
    background-color: white;
    width:600px;
    height: 410px;
    display: flex;
    border-radius: 17px;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Hanken Grotesk",sans-serif;
    height: 100vh;
    background-color: hsl(240, 52%, 96%);
    border-radius: 15px;
}
.result{
color:white;
padding-bottom: 30px;
padding-top: 30px;


}
.rate{
    width: 170px;
    height: 170px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: linear-gradient(hsla(256, 72%, 46%, 1),hsla(256, 72%, 46%, 1)) ; 
    color: white;
    font-size: 70px;
    font-family: "Hanken Grotesk",sans-serif;
    font-weight: 800;
   
}
.great{
    color: rgb(255, 251, 251);
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 25px;
    font-family: "Hanken Grotesk",sans-serif;
    
}

p{
    color: rgba(255, 255, 255, 0.774);
    font-size: 13px;
    text-align: center;
    padding-bottom: 30px;
    padding: 0px 60px;
}


#summary{
    padding-top: 10px;
    font-weight: 700;
    font-family: "Hanken Grotesk",sans-serif;
    font-size: 20px;
}
#reaction{
    color:hsl(0, 100%, 67%);
    padding-top: 15px;
    background-color:hsla(0, 100%, 67%, 0.322) ;
    
 
  
   


}
#memory{
   color: hsl(39, 100%, 56%);
   padding-top: 15px;
   background-color:hsla(39, 100%, 56%, 0.226) ;

   

}
#verbal{
    color:hsl(166, 100%, 37%);
    padding-top: 15px;
background-color: hsla(166, 100%, 37%, 0.158);

}
#visual{
    color:hsl(234, 85%, 45%);
    padding-top: 15px;
    background-color:hsla(234, 85%, 45%, 0.212) ; 
    display: flex;
    margin-bottom: 30px;
  



} 
.item{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    border-radius: 15px;
    padding-bottom: 10px;
    margin-top: 20px;
    justify-items: center;
    width: 260px;
      
     

}
span{
    font-weight: 700;
    font-family:"Hanken Grotesk",sans-serif ;
    color:gray;
    font-size: 16px;
}
.score{
    color:black;
    font-family:"Hanken Grotesk",sans-serif ;
    font-weight: 700;
    
}


.button{
    background-color: hsl(224, 30%, 27%);
    width: 250px;
    text-align:  center;
    padding: 15px 0px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.button:hover{
    background-image: linear-gradient(to bottom,hsl(252, 100%, 67%),hsl(241, 81%, 54%)) ;
}

.button a{
    color: white;
    text-decoration: none;
}
.box{
    display: flex;
    align-items: center;
    padding-right: 60px;
}

.box>img{
    padding-right: 10px;
}
.of{
    color:rgba(241, 239, 239, 0.664);
    font-size: 15px;
}